body{
		font-family: sans-serif;
		margin-left: 50px;
		margin-top: 25px;
		color: #000000;
	}
	.title{
		font-size: 425%;
		color: #000000;
		font-family: 'Anton', sans-serif;
		text-shadow: 2px 2px 4px #888888;
	}
	#subtitle{
		font-family: 'Anton', sans-serif;
	}
	.intro{
		border: 1px solid #FFFFFF;
		padding: 5px;
		background-color: #FFFFFF;
		box-shadow: 4px 4px 8px #888888;
		width: 72%;
		clear: both;
	}
	h1{
		font-family: 'Anton', sans-serif;
		margin-top: 0px;
		text-shadow: 2px 2px 4px #888888;
		color: #000000;
	}
	p{
		font-size: 120%;
		padding: 10px;
		clear: both;
		overflow: hidden;
	}
	.tab-indent{
		margin-left: 5%;
	}
	footer{
		text-shadow: 1px 1px 4px #888888;
		font-size: 15px;
		position: fixed;
		bottom: 5px;
		margin-left: -40px;
	}
	.tab{
		border: 1px solid #FFFFFF;
		padding: 8px 25px 8px 25px;
		font-size: 145%;
		box-shadow: 4px 4px 12px #888888;
		text-decoration: none;
		color: #000000;
		background-color: #FFFFFF;
	}
	.tabx-menu li{
		margin-right: 2px;
		display: inline;
		float: left;
		text-decoration: none;
		list-style: none;
		padding-bottom: 7%;
	}
	.tabx-menu{
		margin-left: -40px;
	}
